profile
{
	/*.profile-container {
	    height: 100%;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}*/

	.profile-content-top h1
	{
		color:#fff;
		font-size: 3em;
		font-family: 'OleoScript-Regular';
		text-align: center;
		margin: 0 0 1em;
	}
}