map{
    height: 100%;
    width: 100%;
    ngui-map {
        position: relative;
        display: block;
        height: 100%;
        width: 100%;
    }
}
 .center {
    margin: auto;
    width: 50%;
    border: 3px solid blue;
    padding: 10px;
}

.BookContainer{
    width: 500px;
    height: 160px;
    margin: 5px;
    background: rgba(183, 183, 183, 0.07);
    
    .BookThumb{
        img{
            width: 100px;
            height: 151px;
        }    
    }
    
    .BookDescription{
        position: relative;
        left: 114px;
        bottom: 154px;
        
        .BookName{
            font-weight: Bold;
            font-size: large;
        }
    }
    
    .BookBtn{
        position: relative;
        left: 114px;
        bottom: 90px;
    }
    
}