<div class="container" >
	<div class="col-md-1 p.footer-class a">
			<h2>LOGIN </h2>
	</div>

	<div class="header-top">	
		<div class="col-md-3 top-footer1">
			<h2>LOGIN BOOKSHARE IM A LOGIN</h2>
				<form>
					<input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
					<input type="submit" value="User Name">
				</form>
				<form>
					<input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
					<input type="submit" value="Password">
				</form>	
		</div>
		<div class="col-md-3 top-footer1"></div>
	</div>	
</div>

<div class="footer">
	<div class="container">
		<h1>Im a Footer</h1>		
	</div>
</div>