<div class="header">
	<div class="header-top">
		<div class="container">
		<div class="col-sm-4 left">
      <a href="index.html"><img src="assets/images/logo2.png" alt=""></a>
    </div>

				<div class="col-sm-3 logo">
					<a href="index.html"><img src="assets/images/logo3.png" alt=""></a>
				</div>

			<div class="col-sm-5 header-left">
					<p class="log"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Regístrate</a>
					<a href="#"><span class="glyphicon glyphicon-log-out  "></span> Inicia sesión</a></p>


					<div class="clearfix"> </div>
			</div>
				<div class="clearfix"> </div>
		</div>
		</div>
    </div>
    <div class="content">
    	<div class="container">
    		<div class="content-top">

    			<div class="content-top1">
    				<div class="col-md-3 col-md2">
    					<div class="col-md1 simpleCart_shelfItem">
    						<a href="single.html">
    							<img class="img-responsive" src="assets/images/av1.jpg" alt="" />
    						</a>
    						<h3><a href="single.html">Tops</a></h3>
    						<div class="price">
    								<h5 class="item_price">$300</h5>
    								<a href="#" class="item_add">Add To Cart</a>
    								<div class="clearfix"> </div>
    						</div>
    					</div>
    				</div>
    			<div class="col-md-3 col-md2">
    					<div class="col-md1 simpleCart_shelfItem">
    						<a href="single.html">
    							<img class="img-responsive" src="assets/images/av2.jpg" alt="" />
    						</a>
    						<h3><a href="single.html">T-Shirt</a></h3>
    						<div class="price">
    								<h5 class="item_price">$300</h5>
    								<a href="#" class="item_add">Add To Cart</a>
    								<div class="clearfix"> </div>
    						</div>

    					</div>
    				</div>
    			<div class="col-md-3 col-md2">
    					<div class="col-md1 simpleCart_shelfItem">
    						<a href="single.html">
    							<img class="img-responsive" src="assets/images/av3.png" alt="" />
    						</a>
    						<h3><a href="single.html">Shirt</a></h3>
    						<div class="price">
    								<h5 class="item_price">$300</h5>
    								<a href="#" class="item_add">Detalles</a>
    								<div class="clearfix"> </div>
    						</div>

    					</div>
    				</div>
    			<div class="col-md-3 col-md2">
    					<div class="col-md1 simpleCart_shelfItem">
    						<a href="single.html">
    							<img class="img-responsive" src="assets/images/av4.jpg" alt="" />
    						</a>
    						<h3><a href="single.html">Tops</a></h3>
    						<div class="price">
    								<h5 class="item_price">$300</h5>
    								<a href="#" class="item_add">Add To Cart</a>
    								<div class="clearfix"> </div>
    						</div>

    					</div>
    				</div>
    			<div class="clearfix"> </div>
    			</div>
    			<div class="content-top1">
    				<div class="col-md-3 col-md2">
    					<div class="col-md1 simpleCart_shelfItem">
    						<a href="single.html">
    							<img class="img-responsive" src="assets/images/av5.jpg" alt="" />
    						</a>
    						<h3><a href="single.html">Shirt</a></h3>
    						<div class="price">
    								<h5 class="item_price">$300</h5>
    								<a href="#" class="item_add">Add To Cart</a>
    								<div class="clearfix"> </div>
    						</div>

    					</div>
    				</div>
    			<div class="col-md-3 col-md2">
    					<div class="col-md1 simpleCart_shelfItem">
    						<a href="single.html">
    							<img class="img-responsive" src="assets/images/av6.jpg" alt="" />
    						</a>
    						<h3><a href="single.html">T-Shirt</a></h3>
    						<div class="price">
    								<h5 class="item_price">$300</h5>
    								<a href="#" class="item_add">Add To Cart</a>
    								<div class="clearfix"> </div>
    						</div>

    					</div>
    				</div>
    			<div class="col-md-3 col-md2">
    					<div class="col-md1 simpleCart_shelfItem">
    						<a href="single.html">
    							<img class="img-responsive" src="assets/images/av7.jpg" alt="" />
    						</a>
    						<h3><a href="single.html">Jeans</a></h3>
    						<div class="price">
    								<h5 class="item_price">$300</h5>
    								<a href="#" class="item_add">Add To Cart</a>
    								<div class="clearfix"> </div>
    						</div>

    					</div>
    				</div>
    			<div class="col-md-3 col-md2">
    					<div class="col-md1 simpleCart_shelfItem">
    						<a href="single.html">
    							<img class="img-responsive" src="assets/images/av8.jpg" alt="" />
    						</a>
    						<h3><a href="single.html">Tops</a></h3>
    						<div class="price">
    								<h5 class="item_price">$300</h5>
    								<a href="#" class="item_add">Add To Cart</a>
    								<div class="clearfix"> </div>
    						</div>

    					</div>
    				</div>
    			<div class="clearfix"> </div>
    			</div>
    		</div>
    	</div>
