<div class="container" >
	<div class="header-top">
		<div class="col-md-4 top-footer1">
			<h2>REGISTRY BOOKSHARE IM REGISTRY</h2>
					<form>
						<input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
						<input type="submit" value="SUBSCRIBE">
					</form>
					<form>
						<input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
						<input type="submit" value="Name">
					</form>
					<form>
						<input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
						<input type="submit" value="Last Name">
					</form>
					<form>
						<input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
						<input type="submit" value="Birth Day">
					</form>
					<form>
						<input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
						<input type="submit" value="Are You A Robot?">
					</form>

		</div>
	</div>
</div>
<div class="footer">
	<div class="container">
		<h1>Im a Footer registry</h1>		
	</div>
</div>