<!--Header Book Share-->
<div class="header">
	<div class="header-top">
		<div class="container">
			<div class="col-sm-4 world"></div>
			<div class="col-sm-4 logo">
				<a href="/home"><img src="assets/images/logo.png" alt=""></a>
			</div>
		</div>
	</div>
</div>

<div class="container" >
	<div class="col-md-4 top-footer1">
		<table style="width:200%">
			<tr>
				<td>
					<h2>REGISTRY BOOKSHARE IM REGISTRY</h2>
					<div align="center" style="border:1px solid #ffff33">
						<form>
								<h4>Correo electrónico</h4>
								<input type = "text" name = "email" [(ngModel)] = "user.email">
								
								<h4>Nombre</h4>
								<input type = "text" name = "name" [(ngModel)] = "user.name">
								
								<h4>Apellido</h4> 
								<input type = "text" name = "lastName" [(ngModel)] = "user.lastName">
									
								<h4>Contraseña</h4>
								<input type = "password" name = "password" [(ngModel)] = "password.value">
					
								<h4>Confirme contraseña</h4>
								<input type = "password" name = "confirmPassword" [(ngModel)] = "password.confirm">
							</form>
							<br>
							<br>
						</div>
					</td>
				<br>
				<br>
				
				<!-- Check List -->
				<td>
				<h2>Selecciona Tus Intereses</h2>
				
				<table style="width:200%">
					<tr>
						<td>
						<div class="col-md-10" style="border:1px solid #ffff33">
							<ul>
								<li>
									<label class="switch">
									<input type="checkbox">
									<div class="slider round"></div>
									</label>
									<label><H4>Arts & Photography</H4></label>
								</li>
								<li>
									<label class="switch">
									<input type="checkbox">
									<div class="slider round"></div>
									</label>
									<label><H4>Biographies</H4></label>
								</li>
								<li>
									<label class="switch">
									<input type="checkbox">
									<div class="slider round"></div>
									</label>
									<label><H4>Childrens Book</H4></label>
								</li>
								<li>
									<label class="switch">
									<input type="checkbox">
									<div class="slider round"></div>
									</label>
									<label><H4>History</H4></label>
								</li>
							</ul>
						</div>
						</td>
						
						<td>
							<div class="col-md-10" style="border:1px solid #ffff33">
								<ul>
								<li>
									<label class="switch">
									<input type="checkbox">
									<div class="slider round"></div>
									</label>
									<label><H4>Cookbooks, food & wine</H4></label>
								</li>
								<li>
									<label class="switch">
									<input type="checkbox">
									<div class="slider round"></div>
									</label>
									<label><H4>Literature & Fiction</H4></label>
								</li>
								<li>
									<label class="switch">
									<input type="checkbox">
									<div class="slider round"></div>
									</label>
									<label><H4>Mystery and suspense</H4></label>
								</li>
								<li>
									<label class="switch">
									<input type="checkbox">
									<!--<div class="slider"></div>-->
									<div class="slider round"></div>
									</label>
									<label><H4>Science Fiction and Fantasy</H4></label>
								</li>
							</ul>
						</div>
						</td>
					</tr>
				</table>
				
				</td>
				</tr>
				</table>
				
								<!--	
				<label class="switch">
				  <input type="checkbox">
				  <div class="slider round"></div>
				</label>

				<label class="switch">
				  <input type="checkbox" checked>
				  <div class="slider round"></div>
				</label>
				-->		
		</div>
				
	</div>

<div class="footer" align="center">
	<div class="container">
		<h4>Registrate</h4>		
		<form>
			<input  type="submit" value="SUBSCRIBE" (click) = "register()">
		</form>
		<br>
		<br>
		<br>
	</div>
</div>