<!--Header Book Share-->
<div class="header">
	<div class="header-top">
		<div class="container">
			<div class="col-sm-4 world"></div>
			<div class="col-sm-4 logo">
					<a href="/home"><img src="assets/images/logo.png" alt=""></a>
			</div>
		</div>
	</div>
</div>

<div class="container" >
	
		<div class="col-md-4 top-footer1">
			<h2>REGISTRY BOOKSHARE IM REGISTRY</h2>
					
				<form>
					<H4> UserName </H4> 
					<input type="text" size="5"value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value='';}">
					
					<H4> Name </H4> 
					<input type="text" size="5"value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value='';}">
					
					<H4> LastName </H4> 
					<input type="text" size="5"value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value='';}">
					
					
					<H4> Password </H4> 
					<input type="text"size="5" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value='';}">
	
					<H4> repeat Password </H4> 
					<input type="text"size="5" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value='';}">
					
					<H4> Email </H4> 
					<input type="text"size="5" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value='';}">
					
					<H4>Bith Day </H4> 
					<input type="text"size="5" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value='';}">
				</form>
				
		
	</div>
</div>
<div class="footer">
	<div class="container">
		<h1>Im a Footer registry</h1>		
		<form>
			<input type="submit" value="SUBSCRIBE">
		</form>
	</div>
</div>