<div class = "row flex-items-xs-center custom-width">
	<h1>Crea tu producto</h1>
</div>
<div *ngIf = "createdProduct" class = "custom-width">
	<div class = "row flex-items-xs-center">
		<button class = "btn" (click) = "showInputFileDialog()">Agregar foto</button>
		<input class = "custom-display-none" #fileInput type = "file" ng2FileSelect [uploader] = "uploader"/>
	</div>

	<div class = "row flex-items-xs-center">
		<div *ngFor = "let profileImage of profileImages; let i = index">
			<button class = "close" (click) = "deletePhoto( i )">
				<clr-icon shape = "close"></clr-icon>
			</button>
			<img class = "img-thumbnail custom-product-image" [src] = "profileImage">
		</div>
	</div>

	<div class = "row flex-items-xs-center">
		<section class = "form-block">
			<div class = "form-group">
				<label>¿Puedes darnos una descripción más detallada del producto?</label>
				<textarea rows = "5" [(ngModel)] = "product.description"></textarea>
			</div>
		</section>
	</div>

	<div class = "row flex-items-xs-center">
		<button class = "btn btn-link" routerLink = "/home">Saltar este paso</button>
		<button class = "btn btn-primary" (click) = "updateProduct()">Aceptar</button>
	</div>
</div>
<div *ngIf = "!createdProduct">
	<form [formGroup] = "productForm" (ngSubmit) = "save()">
		<div class = "row custom-width">
			<img class = "custom-image-bookshare" src = "assets/images/BookShare.jpg">
		</div>

		<br>

		<div class = "row custom-width">
			<div class = "col-xs-6 offset-xs-1">
				<div class = "form-group">
					<label>Nombre</label>
					<span *ngIf = "mode === 'view'">{{ product.productItem.name }}</span>
					<label *ngIf = "mode !== 'view'" class = "tooltip tooltip-validation tooltip-md tooltip-top-left" [class.invalid] = "( submitted || productForm.controls.name.touched ) && productForm.controls.name.invalid">
						<input type = "text" formControlName = "name" [(ngModel)] = "product.productItem.name">

						<span *ngIf = "productForm.controls.name.errors" class = "tooltip-content">
							<div [hidden] = "!productForm.controls.name.errors.required">
								El nombre es requerido
							</div>
						</span>
					</label>
				</div>

				<div class = "form-group">
					<label>Autor</label>
					<span *ngIf = "mode === 'view'">{{ product.productItem.author }}</span>
					<label *ngIf = "mode !== 'view'" class = "tooltip tooltip-validation tooltip-md tooltip-top-left" [class.invalid] = "( submitted || productForm.controls.author.touched ) && productForm.controls.author.invalid">
						<input type = "text" formControlName = "author" [(ngModel)] = "product.productItem.author">

						<span *ngIf = "productForm.controls.author.errors" class = "tooltip-content">
							<div [hidden] = "!productForm.controls.author.errors.required">
								El autor es requerido
							</div>
						</span>
					</label>
				</div>

				<div class = "form-group">
					<label>Género</label>
					<span *ngIf = "mode === 'view'">{{ product.productItem.genre.name }}</span>
					<!--<input [ngClass] = "{ 'custom-input-error': ( submitted || productForm.controls.genre.touched ) && productForm.controls.genre.invalid }" type = "text" formControlName = "genre" auto-complete [source] = "genres" value-formatter = "name" list-formatter = "name" [(ngModel)] = "product.productItem.genre">
					<label class = "tooltip tooltip-validation tooltip-md tooltip-top-left" [class.invalid] = "( submitted || productForm.controls.genre.touched ) && productForm.controls.genre.invalid">
						<span *ngIf = "productForm.controls.genre.errors" class = "tooltip-content">
							<div [hidden] = "!productForm.controls.genre.errors.required">
								El género es requerido
							</div>
						</span>
					</label>-->
					<div *ngIf = "mode !== 'view'" class = "col-xs">
						<input [ngClass] = "{ 'custom-input-error': ( submitted || productForm.controls.genre.touched ) && productForm.controls.genre.invalid }" type = "text" formControlName = "genre" auto-complete [source] = "genres" value-formatter = "name" list-formatter = "name" (valueChanged) = "product.productItem.genre = $event" no-match-found-text = "No existe este género">
						
						<div *ngIf = "( submitted || productForm.controls.genre.touched ) && productForm.controls.genre.invalid">
							<span *ngIf = "productForm.controls.genre.errors" class = "custom-error-text">
								<div [hidden] = "!productForm.controls.genre.errors.required">
									El género es requerido
								</div>
							</span>
						</div>
					</div>
				</div>

				<div class = "form-group">
					<label>Año de publicación</label>
					<span *ngIf = "mode === 'view'">{{ product.productItem.yearOfPublication }}</span>
					<label *ngIf = "mode !== 'view'" class = "tooltip tooltip-validation tooltip-md tooltip-top-left" [class.invalid] = "( submitted || productForm.controls.yearOfPublication.touched ) && productForm.controls.yearOfPublication.invalid">
						<input type = "number" formControlName = "yearOfPublication" [(ngModel)] = "product.productItem.yearOfPublication">

						<span *ngIf = "productForm.controls.yearOfPublication.errors" class = "tooltip-content">
							<div [hidden] = "!productForm.controls.yearOfPublication.errors.required">
								El año de publicación es requerido
							</div>
							<div [hidden] = "!productForm.controls.yearOfPublication.errors.pattern">
								El formato para el año no es válido
							</div>
							<div [hidden] = "!productForm.controls.yearOfPublication.errors.maxValue">
								El año de publicación no puede ser mayor al año actual
							</div>
						</span>
					</label>
				</div>

				<div class = "form-group">
					<label>Editorial</label>
					<span *ngIf = "mode === 'view'">{{ product.productItem.editorial }}</span>
					<label *ngIf = "mode !== 'view'" class = "tooltip tooltip-validation tooltip-md tooltip-top-left" [class.invalid] = "( submitted || productForm.controls.editorial.touched ) && productForm.controls.editorial.invalid">
						<input type = "text" formControlName = "editorial" [(ngModel)] = "product.productItem.editorial">

						<span *ngIf = "productForm.controls.editorial.errors" class = "tooltip-content">
							<div [hidden] = "!productForm.controls.editorial.errors.required">
								La editorial es requerida
							</div>
						</span>
					</label>
				</div>
			</div>

			<div class = "col-xs-4">
				<div class = "form-group">
					<label>Tipo de producto</label>
					<span *ngIf = "mode === 'view'">{{ typeTexts[product.productItem.type] }}</span>
					<div *ngIf = "mode !== 'view'" class = "col-xs">
						<select formControlName = "type" [(ngModel)] = "product.productItem.type">
							<option *ngFor = "let type of types" [ngValue] = "typeValues[type]">{{ type }}</option>
						</select>
						
						<div *ngIf = "( submitted || productForm.controls.type.touched ) && productForm.controls.type.invalid">
							<span *ngIf = "productForm.controls.type.errors" class = "custom-error-text">
								<div [hidden] = "!productForm.controls.type.errors.required">
									El tipo de producto es requerido
								</div>
							</span>
						</div>
					</div>
				</div>

				<div class = "form-group">
					<label>Tipo de código (ISBN, ASIN, ...)</label>
					<span *ngIf = "mode === 'view'">{{ product.codeType }}</span>
					<label *ngIf = "mode !== 'view'" class = "tooltip tooltip-validation tooltip-md tooltip-top-left" [class.invalid] = "( submitted || productForm.controls.codeType.touched ) && productForm.controls.codeType.invalid">
						<input type = "text" formControlName = "codeType" [(ngModel)] = "product.codeType">

						<span *ngIf = "productForm.controls.codeType.errors" class = "tooltip-content">
							<div [hidden] = "!productForm.controls.codeType.errors.required">
								El tipo de código es requerido
							</div>
						</span>
					</label>
				</div>

				<div class = "form-group">
					<label>Código</label>
					<span *ngIf = "mode === 'view'">{{ product.code }}</span>
					<label *ngIf = "mode !== 'view'" class = "tooltip tooltip-validation tooltip-md tooltip-top-left" [class.invalid] = "( submitted || productForm.controls.code.touched ) && productForm.controls.code.invalid">
						<input type = "text" formControlName = "code" [(ngModel)] = "product.code">

						<span *ngIf = "productForm.controls.code.errors" class = "tooltip-content">
							<div [hidden] = "!productForm.controls.code.errors.required">
								El código es requerido
							</div>
						</span>
					</label>
				</div>

				<div class = "form-group">
					<label>Cubierta</label>
					<span *ngIf = "mode === 'view'">{{ covers[product.cover - 1] }}</span>
					<div *ngIf = "mode !== 'view'" class = "col-xs">
						<select formControlName = "cover" [(ngModel)] = "product.cover">
							<option *ngFor = "let cover of covers; let i = index" [ngValue] = "i + 1">{{ cover }}</option>
						</select>
						
						<div *ngIf = "( submitted || productForm.controls.cover.touched ) && productForm.controls.cover.invalid">
							<span *ngIf = "productForm.controls.cover.errors" class = "custom-error-text">
								<div [hidden] = "!productForm.controls.cover.errors.required">
									La cubierta es requerida
								</div>
							</span>
						</div>
					</div>
				</div>

				<div class = "form-group">
					<label>Estado</label>
					<span *ngIf = "mode === 'view'">{{ statuses[product.status - 1] }}</span>
					<div *ngIf = "mode !== 'view'" class = "col-xs">
						<select formControlName = "status" [(ngModel)] = "product.status">
							<option *ngFor = "let status of statuses; let i = index" [ngValue] = "i + 1">{{ status }}</option>
						</select>
						
						<div *ngIf = "( submitted || productForm.controls.status.touched ) && productForm.controls.status.invalid">
							<span *ngIf = "productForm.controls.status.errors" class = "custom-error-text">
								<div [hidden] = "!productForm.controls.status.errors.required">
									El estado es requerido
								</div>
							</span>
						</div>
					</div>
				</div>

				<div class = "form-group">
					<label>Valor del producto</label>
					<span *ngIf = "mode === 'view'">{{ product.value | currency: 'COP': true }}</span>
					<label *ngIf = "mode !== 'view'" class = "tooltip tooltip-validation tooltip-md tooltip-top-left" [class.invalid] = "( submitted || productForm.controls.value.touched ) && productForm.controls.value.invalid">
						<input type = "number" formControlName = "value" [(ngModel)] = "product.value">

						<span *ngIf = "productForm.controls.value.errors" class = "tooltip-content">
							<div [hidden] = "!productForm.controls.value.errors.required">
								El valor es requerido
							</div>
						</span>
					</label>
				</div>
			</div>
		</div>

		<div class = "row flex-items-xs-center custom-width">
			<div class = "col-xs-4">
				<button *ngIf = "mode !== 'view'" class = "btn btn-primary btn-block" type = "submit">Guardar</button>
			</div>
		</div>
	</form>
</div>