<!--INICIO del header---->
<div class="header-top">
  <div class="container">
    <div class="col-sm-4 world"></div>
      <div class="col-sm-4 logo">
        <a href="index.html"><img src="assets/images/logo.png" alt=""></a>
      </div>

    <!--Menu de registro e inicio de secion -->
      <div class="col-sm-3 top-footer1">
        <p class="log"><a routerLink="/log-in" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Login</a>
        <p class="log"><a routerLink="/sign-up"  routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Sign Up</a>				<div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
  </div>
</div>

  <div class="container">
    <div class="head-top">
      <div class="col-sm-2 number">	</div>


     <div class="col-sm-8 h_menu4"><!--Menu Principal -->
        <ul class="memenu yellow">
          <li class=" grid"><a routerLink="/home"   routerLinkActive="active">Home</a></li>
          <li class="grid"><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
          <!---llamada a la Ruta "//availprod"---->
          <li><a routerLink="/products" routerLinkActive="active">All Products</a></li>
          <!---llamada a la Ruta "/contactus"---->
          <li>	<a routerLink="/contact-us" routerLinkActive="active">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
<router-outlet></router-outlet>
  <!--Fin del header---->
<router-outlet></router-outlet>
