<header class = "header-6">
	<div class = "branding">
		<a href = "..." class = "nav-link">
			<img class = "custom-image-48" src = "assets/images/logo2.png"/>
			<span class = "title">BookShare</span>
		</a>
	</div>
	<div class = "header-nav">
		<a href = "..." class = "active nav-link nav-text">Inicio</a>
		<a href = "..." class = "nav-link nav-text">Productos disponibles</a>
	</div>
	<form class = "search">
        <label>
            <input class = "custom-width-200" type = "text" placeholder = "Busca libros o colecciones">
        </label>
    </form>
	<div class = "header-actions">
		<div>
			<a href = "..." class = "nav-link nav-text">
				Regístrate
			</a>
			<a href = "..." class = "nav-link nav-text">
				Ingresa
			</a>
		</div>
		<clr-dropdown clrMenuPosition = "bottom-right">
			<button class = "nav-icon" clrDropdownToggle>
				<clr-icon shape = "user"></clr-icon>
				<clr-icon shape = "caret down"></clr-icon>
			</button>
			<clr-dropdown-menu>
				<a href = "..." clrDropdownItem>Perfil</a>
				<a href = "..." clrDropdownItem>Salir</a>
			</clr-dropdown-menu>
		</clr-dropdown>
		<clr-dropdown clrMenuPosition="bottom-right">
			<button class="nav-icon" clrDropdownToggle>
				<clr-icon shape="cog"></clr-icon>
				<clr-icon shape="caret down"></clr-icon>
			</button>
			<clr-dropdown-menu>
				<a href="..." clrDropdownItem>Contáctenos</a>
			</clr-dropdown-menu>
		</clr-dropdown>
	</div>
</header>
<router-outlet></router-outlet>