<!--Header Book Share-->
<div class="header">
	<div class="header-top">
		<div class="container">
			<div class="col-sm-4 world"></div>
			<div class="col-sm-4 logo">
				<a href="/home"><img src="assets/images/logo.png" alt=""></a>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="col-md-4">
		<h2>Registro</h2>
		<div align="center">
			<form [formGroup] = "signUpForm" (ngSubmit) = "register()">
				<h4>Correo electrónico</h4>
				<input type = "text" formControlName = "email" [(ngModel)] = "user.email">

				<h4>Nombre</h4>
				<input type = "text" formControlName = "name" [(ngModel)] = "user.name">

				<h4>Apellido</h4> 
				<input type = "text" formControlName = "lastName" [(ngModel)] = "user.lastName">

				<h4>Contraseña</h4>
				<input type = "password" formControlName = "password" [(ngModel)] = "password.value">

				<h4>Confirme la contraseña</h4>
				<input type = "password" formControlName = "passwordConfirmation" [(ngModel)] = "password.confirmation">

				<button type = "submit" [disabled] = "signUpForm.pristine" class = "btn btn-success">Registar</button>
			</form>
		</div>
	</div>
</div>				
				<!-- Check List 
				<td>
				<h2>Selecciona Tus Intereses</h2>
				
				<table style="width:200%">
					<tr>
						<td>
						<div class="col-md-10" style="border:1px solid #ffff33">
							<ul>
								<li>
									<label class="switch">
									<input type="checkbox">
									<div class="slider round"></div>
									</label>
									<label><H4>Arts & Photography</H4></label>
								</li>
								<li>
									<label class="switch">
									<input type="checkbox">
									<div class="slider round"></div>
									</label>
									<label><H4>Biographies</H4></label>
								</li>
								<li>
									<label class="switch">
									<input type="checkbox">
									<div class="slider round"></div>
									</label>
									<label><H4>Childrens Book</H4></label>
								</li>
								<li>
									<label class="switch">
									<input type="checkbox">
									<div class="slider round"></div>
									</label>
									<label><H4>History</H4></label>
								</li>
							</ul>
						</div>
						</td>
						
						<td>
							<div class="col-md-10" style="border:1px solid #ffff33">
								<ul>
								<li>
									<label class="switch">
									<input type="checkbox">
									<div class="slider round"></div>
									</label>
									<label><H4>Cookbooks, food & wine</H4></label>
								</li>
								<li>
									<label class="switch">
									<input type="checkbox">
									<div class="slider round"></div>
									</label>
									<label><H4>Literature & Fiction</H4></label>
								</li>
								<li>
									<label class="switch">
									<input type="checkbox">
									<div class="slider round"></div>
									</label>
									<label><H4>Mystery and suspense</H4></label>
								</li>
								<li>
									<label class="switch">
									<input type="checkbox">
									<div class="slider round"></div>
									</label>
									<label><H4>Science Fiction and Fantasy</H4></label>
								</li>
							</ul>
						</div>
						</td>
					</tr>
				</table>
				
				</td>
				</tr>
				</table>	
				<label class="switch">
				  <input type="checkbox">
				  <div class="slider round"></div>
				</label>

				<label class="switch">
				  <input type="checkbox" checked>
				  <div class="slider round"></div>
				</label>
				-->