@import "../../styles/mixins";

sign-up
{
	.form-control
	{
		@include border-radius( 0px );
	}

	.custom-none-background
	{
		background-image: none;
	}

	.custom-cursor-pointer
	{
		cursor: pointer;
		position: relative;
	}
}