@import "../../styles/mixins";

sign-up
{
	.form-control
	{
		@include border-radius( 0px );
	}

	.custom-profile-image
	{
		width: 256px;
		heigth: 256px;
	}

	.custom-white-background
	{
		background-color: white;
	}

	.custom-display-grid
	{
		display: grid;
		grid-template-columns: 25% 25% 25% 25%;
	}

	.custom-cursor-pointer
	{
		cursor: pointer;
		position: relative;
	}

	.custom-item-selected
	{
		border-color: #337ab7;
		opacity: 0.4;
	}

	.custom-over
	{
		position: absolute;
		background-color: transparent;
		height: 100%;
		width: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.custom-over-text
	{
		color: white;
		font-size: 20px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}