<div>
	<div class = "row flex-items-xs-center custom-width">
		<h1>Contáctenos</h1>
	</div>

	<br>

	<div class = "row flex-items-xs-center custom-width">
		<div class = "offset-xs-1 custom-container">
			<img class = "img-thumbnail custom-contact-img" src = "assets/images/MB.jpg">
			<div class = "custom-hover-transition">
				<div class = "custom-hover-text-transition">
					<h3>Miguel Ballén</h3>
					<h4>Desarrollador Backend y Scrum Master</h4>
					<div>
						<a href = "https://www.facebook.com/mballeng">
							<img class = "custom-social-icon" src = "assets/images/Facebook.svg">
						</a>
						<a href = "https://twitter.com/mballeng91">
							<img class = "custom-social-icon" src = "assets/images/Twitter.svg">
						</a>
						<a href = "https://github.com/mballeng91">
							<img class = "custom-social-icon" src = "assets/images/GitHub.svg">
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class = "offset-xs-1 custom-container">
			<img class = "img-thumbnail custom-contact-img" src = "assets/images/EC.jpg">
			<div class = "custom-hover-transition">
				<div class = "custom-hover-text-transition">
					<h3>Edilberto Cañón</h3>
					<h4>Desarrollador Frontend</h4>
					<div>
						<a href = "">
							<img class = "custom-social-icon" src = "assets/images/Facebook.svg">
						</a>
						<a href = "">
							<img class = "custom-social-icon" src = "assets/images/Twitter.svg">
						</a>
						<a href = "">
							<img class = "custom-social-icon" src = "assets/images/GitHub.svg">
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class = "offset-xs-1 custom-container">
			<img class = "img-thumbnail custom-contact-img" src = "assets/images/JS.jpg">
			<div class = "custom-hover-transition">
				<div class = "custom-hover-text-transition">
					<h3>Jorge Solano</h3>
					<h4>Desarrollador FullStack</h4>
					<div>
						<a href = "https://www.facebook.com/jorge52">
							<img class = "custom-social-icon" src = "assets/images/Facebook.svg">
						</a>
						<a href = "https://twitter.com/jorgesolano22">
							<img class = "custom-social-icon" src = "assets/images/Twitter.svg">
						</a>
						<a href = "https://github.com/jorge52an">
							<img class = "custom-social-icon" src = "assets/images/GitHub.svg">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<br>
	<br>
	<br>

	<div class = "row flex-items-xs-center custom-width">
		<div class = "offset-xs-1 custom-container">
			<img class = "img-thumbnail custom-contact-img" src = "assets/images/MC.jpg">
			<div class = "custom-hover-transition">
				<div class = "custom-hover-text-transition">
					<h3>Miguel Cuesta</h3>
					<h4>Desarrollador Frontend</h4>
					<div>
						<a href = "">
							<img class = "custom-social-icon" src = "assets/images/Facebook.svg">
						</a>
						<a href = "">
							<img class = "custom-social-icon" src = "assets/images/Twitter.svg">
						</a>
						<a href = "">
							<img class = "custom-social-icon" src = "assets/images/GitHub.svg">
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class = "offset-xs-1 custom-container">
			<img class = "img-thumbnail custom-contact-img" src = "assets/images/IR.jpg">
			<div class = "custom-hover-transition">
				<div class = "custom-hover-text-transition">
					<h3>Iván Rojas</h3>
					<h4>Desarrollador Frontend</h4>
					<div>
						<a href = "">
							<img class = "custom-social-icon" src = "assets/images/Facebook.svg">
						</a>
						<a href = "">
							<img class = "custom-social-icon" src = "assets/images/Twitter.svg">
						</a>
						<a href = "">
							<img class = "custom-social-icon" src = "assets/images/GitHub.svg">
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class = "offset-xs-1 custom-container">
			<img class = "img-thumbnail custom-contact-img" src = "assets/images/DB.jpg">
			<div class = "custom-hover-transition">
				<div class = "custom-hover-text-transition">
					<h3>David Beltrán</h3>
					<h4>Desarrollador FullStack</h4>
					<div>
						<a href = "">
							<img class = "custom-social-icon" src = "assets/images/Facebook.svg">
						</a>
						<a href = "">
							<img class = "custom-social-icon" src = "assets/images/Twitter.svg">
						</a>
						<a href = "">
							<img class = "custom-social-icon" src = "assets/images/GitHub.svg">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>