
<div class="container" >
  <div class="header-top">
		<div class="container">
		<div class="col-sm-4 logo">
		<a href="index.html">
			<img src="assets/images/logo.png" alt="">
		</a>
		</div>
		<div class="col-sm-4 logo">
			<img src="assets/images/logoCont.jpeg" alt="">
		</div>

			<div class="col-sm-4 header-left">
					<p class="log" style="font-family: Roboto-Regular"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Registrate</a>
						<span>o</span><a href="#"><span class="glyphicon glyphicon-log-out  "></span> Inicia sesión</a></p>


					<div class="clearfix"> </div>
			</div>
				<div class="clearfix"> </div>
		</div>
		</div>

<header>



<div class="support-note"><!-- let's check browser support with modernizr -->
  <!--span class="no-cssanimations">CSS animations are not supported in your browser</span-->
  <span class="no-csstransforms">CSS transforms are not supported in your browser</span>
  <!--span class="no-csstransforms3d">CSS 3D transforms are not supported in your browser</span-->
  <span class="no-csstransitions">CSS transitions are not supported in your browser</span>
  <span class="note-ie">Sorry, only modern browsers.</span>
</div>

</header>

<section class="main">

<ul class="ch-grid">
  <li>
    <div class="ch-item ch-img-1">
      <div class="ch-info-wrap">
        <div class="ch-info">
          <div class="ch-info-front ch-img-1"></div>
          <div class="ch-info-back">
            <h3>Miguel Ballén</h3>
            <p>Scrum Master<a href="mballenga@unal.edu.co">Escríbeme</a></p>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="ch-item ch-img-2">
      <div class="ch-info-wrap">
        <div class="ch-info">
          <div class="ch-info-front ch-img-2"></div>
          <div class="ch-info-back">
            <h3>David Beltrán</h3>
            <p>Backend  <a href="http://drbl.in/eQva">Escríbeme</a></p>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="ch-item ch-img-3">
      <div class="ch-info-wrap">
        <div class="ch-info">
          <div class="ch-info-front ch-img-3"></div>
          <div class="ch-info-back">
            <h3>Edilberto Cañón</h3>
            <p>Frontend <a href="http://drbl.in/eNTe">Escríbeme</a></p>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>


<div class="header-top" style="background-color:#000000"></div>



<ul class="ch-grid">
  <li>
    <div class="ch-item ch-img-4">
      <div class="ch-info-wrap">
        <div class="ch-info">
          <div class="ch-info-front ch-img-4"></div>
          <div class="ch-info-back">
            <h3>Miguel Cuesta</h3>
            <p>Frontend <a href="http://drbl.in/eFDk">Escríbeme</a></p>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="ch-item ch-img-5">
      <div class="ch-info-wrap">
        <div class="ch-info">
          <div class="ch-info-front ch-img-5"></div>
          <div class="ch-info-back">
            <h3>Iván Rojas</h3>
            <p> Frontend <a href="http://drbl.in/eQva">Escríbeme</a></p>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="ch-item ch-img-6">
      <div class="ch-info-wrap">
        <div class="ch-info">
          <div class="ch-info-front ch-img-6"></div>
          <div class="ch-info-back">
            <h3>Jorge Solano</h3>
            <p>by Backend <a href="http://drbl.in/eNTe">Escríbeme</a></p>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>


</section>
</div>
