
<div class="container" >

<header>



<div class="support-note"><!-- let's check browser support with modernizr -->
  <!--span class="no-cssanimations">CSS animations are not supported in your browser</span-->
  <span class="no-csstransforms">CSS transforms are not supported in your browser</span>
  <!--span class="no-csstransforms3d">CSS 3D transforms are not supported in your browser</span-->
  <span class="no-csstransitions">CSS transitions are not supported in your browser</span>
  <span class="note-ie">Sorry, only modern browsers.</span>
</div>

</header>

<section class="main">

<ul class="ch-grid">
  <li>
    <div class="ch-item ch-img-1">
      <div class="ch-info-wrap">
        <div class="ch-info">
          <div class="ch-info-front ch-img-1"></div>
          <div class="ch-info-back">
            <h3>Miguel Ballén</h3>
            <p>Scrum Master<a href="mballenga@unal.edu.co">Escríbeme</a></p>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="ch-item ch-img-2">
      <div class="ch-info-wrap">
        <div class="ch-info">
          <div class="ch-info-front ch-img-2"></div>
          <div class="ch-info-back">
            <h3>David Beltrán</h3>
            <p>Backend  <a href="http://drbl.in/eQva">Escríbeme</a></p>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="ch-item ch-img-3">
      <div class="ch-info-wrap">
        <div class="ch-info">
          <div class="ch-info-front ch-img-3"></div>
          <div class="ch-info-back">
            <h3>Edilberto Cañón</h3>
            <p>Frontend <a href="http://drbl.in/eNTe">Escríbeme</a></p>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>


<div class="header-top" style="background-color:#000000"></div>



<ul class="ch-grid">
  <li>
    <div class="ch-item ch-img-4">
      <div class="ch-info-wrap">
        <div class="ch-info">
          <div class="ch-info-front ch-img-4"></div>
          <div class="ch-info-back">
            <h3>Miguel Cuesta</h3>
            <p>Frontend <a href="http://drbl.in/eFDk">Escríbeme</a></p>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="ch-item ch-img-5">
      <div class="ch-info-wrap">
        <div class="ch-info">
          <div class="ch-info-front ch-img-5"></div>
          <div class="ch-info-back">
            <h3>Iván Rojas</h3>
            <p> Frontend <a href="http://drbl.in/eQva">Escríbeme</a></p>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="ch-item ch-img-6">
      <div class="ch-info-wrap">
        <div class="ch-info">
          <div class="ch-info-front ch-img-6"></div>
          <div class="ch-info-back">
            <h3>Jorge Solano</h3>
            <p>by Backend <a href="http://drbl.in/eNTe">Escríbeme</a></p>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>


</section>
</div>



<div class="footer">
	<div class="container">
		<div class="footer-top">
			<div class="col-md-4 top-footer1">
				<h2>FOLLOW BOOKSHARE</h2>
					<form>
						<input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
						<input type="submit" value="SUBSCRIBE">
					</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="footer-bottom">

		<div class="container">

				<!--Columna 1 -->
				<div class="col-sm-3 footer-bottom-cate">
					<h6>Autores</h6>
					<ul>
						<li><a href="#">Miguel Ángel Ballén</a></li>
						<li><a href="#">David Beltrán </a></li>
						<li><a href="#">Miguel Cuesta</a></li>
						<li><a href="#">Ivan Rojas</a></li>
						<li><a href="#">Jorge Solano</a></li>
						<li><a href="#">Edilberto Cañon</a></li>

					</ul>
				</div>
				<!--Columna 2 -->
				<div class="col-sm-3 footer-bottom-cate">

				</div>
				<!--Columna 3 -->
				<div class="col-sm-3 footer-bottom-cate">

				</div>
				<div class="col-sm-3 footer-bottom-cate cate-bottom">
					<!--<h6>Our Address</h6>-->
					<ul>
						<li class="phone">SCRUM MASTER: Miguel Ballén </li>
					</ul>
				</div>
				<div class="clearfix"> </div>
				<p class="footer-class"> © 2017 Ingeniería de Software II - Universidad Nacional| Design by <a >Book Share </a> </p>
			</div>
	</div>
</div>
