
<div class="container" >
  <div class="header-top">
		<div class="container">
		<div class="col-sm-4 logo">
		<a href="index.html">
			<img src="assets/images/logo.png" alt="">
		</a>
		</div>
		<div class="col-sm-4 logo">
			<img src="assets/images/logoCont.jpeg" alt="">
		</div>

			<div class="col-sm-4 header-left">
					<p class="log" style="font-family: Roboto-Regular"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Registrate</a>
						<span>o</span><a href="#"><span class="glyphicon glyphicon-log-out  "></span> Inicia sesión</a></p>


					<div class="clearfix"> </div>
			</div>
				<div class="clearfix"> </div>
		</div>
		</div>

<header>



<div class="support-note"><!-- let's check browser support with modernizr -->
  <!--span class="no-cssanimations">CSS animations are not supported in your browser</span-->
  <span class="no-csstransforms">CSS transforms are not supported in your browser</span>
  <!--span class="no-csstransforms3d">CSS 3D transforms are not supported in your browser</span-->
  <span class="no-csstransitions">CSS transitions are not supported in your browser</span>
  <span class="note-ie">Sorry, only modern browsers.</span>
</div>

</header>

<section class="main">

<ul class="ch-grid">
  <li>
    <div class="ch-item ch-img-1">
      <div class="ch-info-wrap">
        <div class="ch-info">
          <div class="ch-info-front ch-img-1"></div>
          <div class="ch-info-back">
            <h3>Miguel Ballén</h3>
            <p>Scrum Master<a href="mballenga@unal.edu.co">Escríbeme</a></p>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="ch-item ch-img-2">
      <div class="ch-info-wrap">
        <div class="ch-info">
          <div class="ch-info-front ch-img-2"></div>
          <div class="ch-info-back">
            <h3>David Beltrán</h3>
            <p>Backend  <a href="http://drbl.in/eQva">Escríbeme</a></p>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="ch-item ch-img-3">
      <div class="ch-info-wrap">
        <div class="ch-info">
          <div class="ch-info-front ch-img-3"></div>
          <div class="ch-info-back">
            <h3>Edilberto Cañón</h3>
            <p>Frontend <a href="http://drbl.in/eNTe">Escríbeme</a></p>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>


<div class="header-top" style="background-color:#000000"></div>



<ul class="ch-grid">
  <li>
    <div class="ch-item ch-img-4">
      <div class="ch-info-wrap">
        <div class="ch-info">
          <div class="ch-info-front ch-img-4"></div>
          <div class="ch-info-back">
            <h3>Miguel Cuesta</h3>
            <p>Frontend <a href="http://drbl.in/eFDk">Escríbeme</a></p>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="ch-item ch-img-5">
      <div class="ch-info-wrap">
        <div class="ch-info">
          <div class="ch-info-front ch-img-5"></div>
          <div class="ch-info-back">
            <h3>Iván Rojas</h3>
            <p> Frontend <a href="http://drbl.in/eQva">Escríbeme</a></p>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="ch-item ch-img-6">
      <div class="ch-info-wrap">
        <div class="ch-info">
          <div class="ch-info-front ch-img-6"></div>
          <div class="ch-info-back">
            <h3>Jorge Solano</h3>
            <p>by Backend <a href="http://drbl.in/eNTe">Escríbeme</a></p>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>


</section>
</div>
<div class="footer">
	<div class="container">
		<div class="footer-top">
			<div class="col-md-8 top-footer">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1988.381925211612!2d-74.08367534486672!3d4.636168136968964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa653b0fc05dac25c!2s401+Facultad+de+Ingenier%C3%ADa+-+Edificio+Insignia!5e0!3m2!1ses-419!2sco!4v1490849137365" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="col-md-4 top-footer1">
				<h2>FOLLOW BOOKSHARE</h2>
					<form>
						<input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
						<input type="submit" value="SUBSCRIBE">
					</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="footer-bottom">

		<div class="container">

				<!--Columna 1 -->
				<div class="col-sm-3 footer-bottom-cate">
					<h6>Autores</h6>
					<ul>
						<li><a href="#">Miguel Ángel Ballén</a></li>
						<li><a href="#">David Beltrán </a></li>
						<li><a href="#">Miguel Cuesta</a></li>
						<li><a href="#">Ivan Rojas</a></li>
						<li><a href="#">Jorge Solano</a></li>
						<li><a href="#">Edilberto Cañon</a></li>

					</ul>
				</div>
				<!--Columna 2 -->
				<div class="col-sm-3 footer-bottom-cate">
					<!--<h6>Feature Projects</h6> TODO

					<ul>
						<li><a href="#">Curabitur sapien</a></li>
						<li><a href="#">Dignissim purus</a></li>
						<li><a href="#">Tempus pretium</a></li>
						<li><a href="#">Dignissim neque</a></li>
						<li><a href="#">Ornared id aliquet</a></li>

					</ul>-->
				</div>
				<!--Columna 3 -->
				<div class="col-sm-3 footer-bottom-cate">
					<!--<h6>Top Brands</h6>TODO

					<ul>

						<li><a href="#">Dignissim purus</a></li>
						<li><a href="#">Tempus pretium</a></li>
						<li><a href="#">Dignissim neque</a></li>
						<li><a href="#">Ornared id aliquet</a></li>
						<li><a href="#">Ultrices id du</a></li>
						<li><a href="#">Commodo sit</a></li>

					</ul>-->
				</div>
				<div class="col-sm-3 footer-bottom-cate cate-bottom">
					<!--<h6>Our Address</h6>-->
					<ul>
						<li>Aliquam metus  dui. </li>
						<li>orci, ornareidquet</li>
						<li> ut,DUI.</li>
						<li>nisi, dignissim</li>
						<li>gravida at.</li>
						<li class="phone">SCRUM MASTER: Miguel Ballén </li>
					</ul>
				</div>
				<div class="clearfix"> </div>
				<p class="footer-class"> © 2017 Ingeniería de Software II - Universidad Nacional| Design by <a >Book Share </a> </p>
			</div>
	</div>
</div>
