
        <div class="container">

			<!-- Codrops top bar -->
            <div class="codrops-top">
                <a href="http://tympanus.net/Development/AnimatedResponsiveImageGrid/">
                    <strong>&laquo; Previous Demo: </strong>Animated Responsive Image Grid
                </a>
                <span class="right">
                    <a href=" http://tympanus.net/codrops/2012/08/08/circle-hover-effects-with-css-transitions/">
                        <strong>Back to the Codrops Article</strong>
                    </a>
                </span>
                <div class="clr"></div>
            </div><!--/ Codrops top bar -->

			<header>

				<h1><strong>Circle</strong> Hover Effects</h1>
				<h2>Pretty hover effects on circles with CSS Transitions</h2>

				<nav class="codrops-demos">
					<a href="index.html">Demo 1</a>
					<a href="index2.html">Demo 2</a>
					<a href="index3.html">Demo 3</a>
					<a href="index4.html">Demo 4</a>
					<a href="index5.html">Demo 5</a>
					<a class="current-demo" href="index6.html">Demo 6</a>
					<a href="index7.html">Demo 7</a>
				</nav>

				<div class="support-note"><!-- let's check browser support with modernizr -->
					<!--span class="no-cssanimations">CSS animations are not supported in your browser</span-->
					<span class="no-csstransforms">CSS transforms are not supported in your browser</span>
					<!--span class="no-csstransforms3d">CSS 3D transforms are not supported in your browser</span-->
					<span class="no-csstransitions">CSS transitions are not supported in your browser</span>
					<span class="note-ie">Sorry, only modern browsers.</span>
				</div>

			</header>

			<section class="main">

				<ul class="ch-grid">
          <li>
						<div class="ch-item ch-img-3">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-3"></div>
									<div class="ch-info-back">
										<h3>Ivan Rojas</h3>
										<p>Estudiante Universidad Nacional de Colombia <a href="https://www.facebook.com/ivanrflorz">Encuentrame en facebook</a></p>
									</div>
								</div>
							</div>
						</div>
					</li>
          <li>
						<div class="ch-item ch-img-3">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-3"></div>
									<div class="ch-info-back">
										<h3>Miguel Ballén</h3>
										<p>Estudiante Universidad Nacional de Colombia <a href="https://www.facebook.com/mballeng">Encuentrame en facebook</a></p>
									</div>
								</div>
							</div>
						</div>
					</li>
          <li>
            <div class="ch-item ch-img-3">
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-3"></div>
                  <div class="ch-info-back">
                    <h3>Jorge Solano</h3>
                    <p>Estudiante Universidad Nacional de Colombia <a href="https://www.facebook.com/jorge52">Encuentrame en facebook</a></p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item ch-img-3">
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-3"></div>
                  <div class="ch-info-back">
                    <h3>Miguel Cuesta</h3>
                    <p>Estudiante Universidad Nacional de Colombia <a href="https://www.facebook.com/Miguel56Angel">Encuentrame en facebook</a></p>
                  </div>
                </div>
              </div>
            </div>
          </li>


          <li>
            <div class="ch-item ch-img-3">
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-3"></div>
                  <div class="ch-info-back">
                    <h3>Edilberto Cañon</h3>
                    <p>Estudiante Universidad Nacional de Colombia <a href="https://www.facebook.com/berto.pasquel">Encuentrame en facebook</a></p>
                  </div>
                </div>
              </div>
            </div>
          </li>


          <li>
						<div class="ch-item ch-img-3">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-3"></div>
									<div class="ch-info-back">
										<h3>David Beltrán</h3>
										<p>Estudiante Universidad Nacional de Colombia <a href="https://www.facebook.com/david.beltrancifuentes">Encuentrame en facebook</a></p>
									</div>
								</div>
							</div>
						</div>
					</li>






				</ul>

			</section>
        </div>
