body {
    position: absolute;
    height: 100%;
    width: 100%;
}

.custom-width-200
{
	width: 200px;
}

.custom-image-48
{
	height: 48px;
	margin: 5px;
}

.custom-overflow-visible
{
	overflow: visible;
}

.custom-display-none
{
	display: none;
}

.custom-pointer
{
	cursor: pointer;
}

.custom-profile-image
{
	max-width: 320px;
	max-heigth: 320px;
}

.custom-display-grid
{
	display: grid;
	grid-template-columns: 23% 23% 23% 23%;
}

.custom-item-selected
{
	border-color: #337ab7;
	opacity: 0.4;
}

.custom-over
{
	position: absolute;
	background-color: transparent;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.custom-over-text
{
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}